name: Node.js CI

on: [push, pull_request]

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: npm
      - run: node --version
      - run: npm ci
      - name: Typescript
        run: npx tsc -p tsconfig.json --noEmit
      - name: Eslint
        run: npx eslint .

  Testing:
    name: Testing on Node ${{ matrix.node-version }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: node --version
      - run: npm ci
      - name: Vitest
        run: npx vitest --run --coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
